.mega-menu{
	/* width:800px; */
    overflow: hidden;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
}

.dropdown-menu{
	width:100%;
}
.dropdown:hover>.dropdown-menu{
    display:block;
}

.mega-menu .card-title {
	font-size: 27px;
	font-weight: 900;
	position: absolute;
	bottom:0;
	right:0;
	z-index:10;
}

.card-link{
	color: white;
	font-size: 27px;
	font-weight: 900;
}
.card-link:hover {
	color: #ccc;
}
nav {
	margin-left: 500px;
    background-color: rgba(0,0,0,0.7);
}

.nav-link{
	border-right: 1px solid red;
	font-weight: 900;
	font-size: 20px;
	text-transform: uppercase;
}