.mega-menu{
	/* width:800px; */
    overflow: hidden;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
}

.dropdown:hover>.dropdown-menu{
	display:block;
	width:100%;
}


.mega-menu .card-title {
	font-size: 27px;
	font-weight: 900;
	position: absolute;
	bottom:0;
	right:0;
	z-index:10;
}

.card-link{
	color: white;
	font-size: 27px;
	font-weight: 900;
}
.card-link:hover {
	color: #ccc;
}
nav {
background: linear-gradient(rgba(240, 3, 3, 0.801), rgba(10, 9, 9, 0.925)),url("/img/cathedral1.jpg");
background-repeat: repeat;
background-size: cover;
background-position: center center;
/* background-color: rgba(0, 0, 0, 0.596); */
}

.nav-link{
	border-right: 1px solid rgb(219, 209, 209);
	font-weight: 900;
	font-size: 20px;
	text-transform: uppercase;
}

